body {
  /* background-color: rgb(248, 248, 248); */
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  letter-spacing: 1px;
}

/*----- TOP HEADER PICTURE -----*/
#header-menu {
  text-align: center;
  padding: 0 50px;
}

.header-picture img {
  height: 200px;
}

/*----- TOP CONTAINER IMAGES SECTION -----*/
.container-fluid {
  padding: 0 50px;
}

/* .top-image-left,
.top-image-middle,
.top-image-right,
.top-image-below {
} */

#picnic-image {
  float: left;
  width: 50%;
  height: 700px;
}

#pose-image {
  float: left;
  width: 25%;
  height: 350px;
}

#italian-image {
  float: left;
  width: 25%;
  height: 350px;
}

#backyard-image {
  float: left;
  width: 50%;
  height: 350px;
}

.center-box {
  background: rgba(53, 166, 151, 0.8);
  padding: 100px 20px;
  text-align: center;
  display: block;
  height: 100px;
  position: relative;
  margin: 0 auto;
}

.box-text {
  color: white;
  font-size: 40px;
}

.BtnWhite,
a.BtnWhite {
  color: #35a697;
  background: #fff;
  border: 1px solid transparent;
  padding: 15px 30px;
  border-radius: 6px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
}

.BtnWhite:hover {
  background-color: #35a697;
  color: white;
  border: #fff 1px solid;
}

/*----- CATERING SPECIALTY SECTION -----*/
